*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
  }
  
  .navbar-brand{
    font-size: 1.5rem;
    font-weight: 750;
    color: #fc4848;
  }
  
  .navbar-nav .nav-link {
    color: #fc4848;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
  }
  
  .navbar-nav .nav-link:hover {
    color:black;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px); 
  }
  
  .hero-section {
    background: url(./assets/metaverse-web3-future-digital.png) no-repeat ;
    background-size: cover;
    object-fit: cover;
    height: 100vh ;
    color: white;
    padding: 100px 20px;
    box-sizing: border-box;
  }
  
  .hero-section h1{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .hero-section p{
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 30px;
    font-weight: 600;
    max-width: 500px;
    text-align: justify;
  }
  
  .btn-primary {
    background-color: #ffffff; 
    color: #fa5e5e; 
    border: 2px solid #ffffff;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  
  .btn-primary:hover {
    background-color: #fa5e5e; 
    color: #ffffff; 
    border: none;
  }
  
  .service-card {
    box-shadow: 0 4px 6px #d9d6d6,0 -4px 6px #d9d6d6;
    transition: transform 0.3s;
    margin-bottom: 20px;
  }
  
  .service-card:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 10px #f9aaf2,0 -5px 10px #f9aaf2;
    cursor: pointer;
  }
  
  .service-card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  
  #services h2{
    color:  #fa5e5e;
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 30px;
  }
  
  .service-card h5{
    color:#4281ff;
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .service-card p{
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .client-logos {
    text-align: center;
    margin: 2rem 0;
  }
  
  
  .client-logos:hover{
    cursor: pointer;
  }
  
  .client-logos h1 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    color: #fa5e5e;
    font-weight: 700;
  }
  
  .client-logos h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #4281ff;
    font-weight: 600;
  }
  
  .carousel-item img {
    max-width: 200px;
    margin: auto;
  }
  
  .carousel-item #img1{
    max-width: 150px;
    margin: 2.8% auto;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: #fa5e5e; 
    border-radius: 50%;
    padding: 10px;
  }
  
  .portfolio-container {
    display: flex;
    gap: 20px;
    width: 100%;
  }
  
  .vision-content {
    max-width: 50%;
    padding: 5%;
  }
  
  .vision-content h1 {
    color: #fa5e5e;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .portfolio-container video {
    max-width: 45%;
    border-radius: 15px;
  }
  
  .vision-content .vision-para{
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 30px;
  }
  
  .testimonial-card {
    position: relative;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    margin: 20px 0;
  }
  
  #testimonial-box h2{
    color: #fa5e5e;
    font-size: 2.5rem;
    font-weight: 600;
  }
  
  #testimonial-box h3{
    color: #0f2027;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  .testimonial-card:hover{
    cursor: pointer;
    box-shadow: 0 5px 10px #f9aaf2,0 -5px 10px #f9aaf2;
  }
  .testimonial-image {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #fac2f5;
    margin-bottom: 15px;
  }
  .testimonial-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: #007bff;
  }
  .testimonial-text {
    font-style: italic;
    margin-bottom: 15px;
  }
  .rating {
    color: #f39c12;
    font-size: 1.2rem;
  }
  
  footer {
    color: rgb(0, 0, 0);
    padding: 40px 0;
    border-top: 2px solid #edf0f2;
  }
  .footer-section h5 {
    font-size: 1.2rem;
    margin-bottom: 15px;
    font-weight: bold;
    color: #fa5e5e;
  }
  .footer-section a {
    color: #0f2027;
    text-decoration: none;
    transition: color 0.3s ease;
    font-weight: 550;
  }
  .footer-section a:hover {
    color: #007bff;
  }
  .social-icons a {
    display: inline-block;
    margin-right: 15px;
    font-size: 1.5rem;
  }
  .social-icons a:hover {
    color: #fa5e5e;
  }
  .contact-form input,
  .contact-form textarea {
    color: #0f2027;
  }
  .contact-form input:focus,
  .contact-form textarea:focus {
    outline: none;
    box-shadow: 0 0 5px #007bff;
  }
  .btn-contact {
    background-color: #fa5e5e;
    color: #fff; 
    border: none;
  }
  .btn-contact:hover {
    background-color: #007bff; 
    color: #fff; 
    border: none;
  }
  
  .copyright {
    text-align: center;
    padding: 10px 0;
    color:  #0f2027;
    margin-top: 20px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .portfolio-container {
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
  
    .vision-content {
      max-width: 90%;
      text-align: center;
    }
  
    .vision-content h1 {
      font-size: 1.5rem;
      text-align: left;
    }
  
    .vision-content p {
      font-size: 1rem;
      text-align: justify;
    }
  
    .portfolio-container video {
      max-width: 90%;
    }
  }
  